<div ng-controller="IndexCtrl">
  <h1></h1>
  <div class="row" ng-repeat="post in data.posts">
    <h2> {{post.title}}</h2>
    <p>{{post.contents}}</p>
  </div>  
    <% @angulars.each do |angular|%>
      %tr
        %td<%= angular.title%>
        %td<%= angular.body%>
        %td<%= link_to 'Show', angular%>
        %td<%= link_to 'Edit', edit_angular_path(angular)%>
        %td<%= link_to 'Destroy', angular, :method => :delete, :data => { :confirm => 'Are you sure?' }%>

    <%end%>

<%= link_to 'New Angular', new_angular_path%>
</div>